body{
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: rgb(245, 244, 241);
    margin:0;

}

nav {
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-links a {
    color: #686161;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f0a500;
}

.navButtons{
    display: flex;
}