body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: rgb(245, 244, 241);
    margin: 0;
    padding: 0;
}

nav {
    
    margin: auto;
    height: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #686161;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f0a500;
}

#navButtons {
    display: flex;
    gap: 0.5rem;
}

div#hotelIcon img {
    object-fit: contain;
    height: 30px;
    margin: 0;
    padding: 0;
}

#contactBtn,
.checkingBtn,
.continueBtn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f0a500;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;

}

#contactBtn:hover,
.checkingBtn:hover,
.continueBtn:hover {
    background-color: #f7c14e;



}

/* #logBtn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f0a500;
    color: white;
    cursor: pointer;
}

#signBtn{
    padding: 0.5rem 1rem;
    border: 1.8px solid #f0a500; 
    border-radius: 5px;
    background-color: white;
    
    color: #f0a500;
    cursor: pointer;
} */

#logBtn:hover,
#signBtn:hover {
    background-color: #d18c00;
}

#finder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 0 1rem;
    max-width: 1200px;
}

.search-field {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}

#finder label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

#finder input,
#finder select {
    padding: 5px;
    border: 1.8px solid black;
    border-radius: 5px;
    color: #d18c00;
}

#date {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#dateFrom,
#dateTo {
    flex: 1;
}

#people {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 14px;
}

#numberOfPeople  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#numberOfPeople img {
    object-fit: contain;
    height: 15px;
    justify-content: center;

}

#people label {
    width: 100%;
    justify-content: center;
    display: flex;
}

#people input {
    width: 30px;
}


#rooms {
    display: flex;
    flex-direction: column;
}

.room {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 1rem 1rem;
    max-width: 1200px;
    min-width: 670px;
    border-radius: 5px;

}

.selectedRoom {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 1rem 1rem;
    max-width: 1200px;
    min-width: 670px;
    border-radius: 5px;

}

.room:hover {
    background-color: rgb(255, 246, 226);
}

.characteristics {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.room-image {
    height: 150px;
    border-radius: 6px;


}

.characteristics img {
    margin-right: 5px;
    height: 20px;

}

.room-people,
.room-bed,
.room-bathroom {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 40px;
}

.info {
    flex-grow: 2;
    margin-left: 4%;

}

.room-price {
    min-width: 90px;
    flex-grow: 1;
    font-size: 2rem;
    font-weight: 600;
    text-align: end;

}


.checkingBtn {
    display: none;
    margin: 50px auto;
    font-size: 1.5rem;

}

.continueBtn {
    font-size: 1.5rem;

}

.nextLink {
    text-decoration: none;
}

.user-information {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;

}

.user-information label {
    font-weight: 600;
}

.payment-methods label {
    font-weight: 400;
}

.payment-methods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.payment-methods input {
    margin-right: 30px;
    margin-bottom: 30px;


}

#address,
#name {
    border: 1px #eec77a solid;
    margin-top: 5px;
    border-radius: 4px;
    padding: 4px;
    width: 50%;

}

#roomCheck {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.summary>p {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

#client-info {
    background-color: white;
    width: 100%;
    padding: 2% 5%;
    margin-bottom: 30px;
    text-align: center;
}

#client-info p {
    margin-top: 1px;
    font-weight: 800;
}

#client-info h3 {
    margin-bottom: 5px;
    font-weight: 400;
}


@media (max-width: 768px) {

 #body{
    display: flex;
    flex-direction: column;
    width: 100%; 
 }

   #hotelIcon{
    margin-bottom: 20px;
   }

    #location{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contactBtn{
        margin-top: 10px;
    }
    nav {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: auto;
        
        padding: 3%; 

        margin-top: 5px; 
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    ul.nav-links li{
        margin: 3px;  
    }
    div#date{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #numberOfPeople{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-left: 0px;
    
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    #finder {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin: auto;
    
        margin-bottom: 30px;
    }

    .search-field {
        min-width: 100%;
    }

    #date {
        flex-direction: column;
        align-items: center;
    }

    .room,
    .selectedRoom {
        flex-direction: column;
      
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 100%;
    
      
        padding: 30px 5px 5px 0px; 
    }

    #rooms { 
        display: flex;
        flex-direction: column;
    
        width: 100%;
        
        
    }

    .payment-methods, .payment-methods label, .payment-methods input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 10px 10px;  
    }


    .room-image {
        width: 100%;
        height: auto;
    }

    .info {
        margin-left: 0;
        width: 100%;
    }

    .room-price {
        width: 100%;
        text-align: center;
    }

    .characteristics {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .summary>p {
       text-align: center;
       margin: 20px 10px; 
    }

    .summary{
        margin-bottom: 20px;
    }
}